.container {
  padding-inline: 20px;
}

@media (width >= 576px) {
  .container {
    padding-inline: 72px;
  }
}

@media (width >= 1024px) {
  .container {
    margin: 0;
    min-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

* {
  box-sizing: border-box;
}

.page {
  color: #1b2129;
  scroll-behavior: smooth;
  font-family: Manrope, sans-serif;
  font-size: 16px;
}

.page__body {
  min-width: 320px;
  margin: 0;
}

.page__menu {
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  display: flex;
}

@media (width >= 576px) {
  .top-bar {
    padding-block: 32px;
  }
}

.top-bar__icons {
  gap: 24px;
  display: flex;
}

@media (width >= 576px) {
  .top-bar__icons {
    gap: 32px;
  }
}

.top-bar__logo-link {
  display: flex;
}

.top-bar__logo {
  height: 16px;
  transition: transform .3s;
}

@media (width >= 576px) {
  .top-bar__logo {
    height: 24px;
  }
}

.top-bar__logo:hover {
  transform: scale(1.2);
}

.header {
  background-image: url("background-image-header.556f2836.png");
  background-position: center;
  background-size: cover;
}

.header__title {
  color: #fff;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

@media (width >= 576px) {
  .header__title {
    font-size: 48px;
    line-height: 48px;
  }
}

@media (width >= 1024px) {
  .header__title {
    font-size: 56px;
    line-height: 56px;
  }
}

.header__content {
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  display: flex;
}

.header__bottom {
  padding-bottom: 40px;
}

@media (width >= 576px) {
  .header__bottom {
    padding-bottom: 64px;
  }
}

.icon {
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
  transition: transform .3s;
  display: block;
}

.icon:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.icon--phone {
  color: inherit;
  background-image: url("phone-icon.ce55f873.svg");
  text-decoration: none;
}

.icon--phone:hover:before {
  content: "+1 234 555-55-55";
  letter-spacing: 2px;
  width: max-content;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  display: block;
  position: relative;
  right: 150px;
}

.icon--menu {
  background-image: url("burger-menu-icon.df1bf7d3.svg");
}

.icon--menu:hover {
  background-image: url("burger-menu-icon-hover.ab416e87.svg");
}

.icon--close {
  background-image: url("close-icon.7a4f0d49.svg");
}

.menu {
  box-sizing: border-box;
  background-color: #f9f9f9;
  height: 100vh;
  font-weight: 700;
}

.menu__top {
  margin-bottom: 32px;
}

@media (width >= 576px) {
  .menu__top {
    margin-bottom: 56px;
  }
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__phone-number {
  color: #1b2129;
  letter-spacing: 2px;
  margin-top: 48px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  display: block;
}

.menu__call-to-order {
  color: #1b2129;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #1b2129;
  width: fit-content;
  padding-bottom: 4px;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

.nav__link {
  color: #1b2129;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  position: relative;
}

.nav__link:after {
  content: "";
  transform-origin: 0;
  background-color: #1b2129;
  width: 100%;
  height: 1px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
}

.nav__link:hover:after {
  transform: scale(1);
}

.nav__list {
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.section-title {
  margin: 0;
  padding-bottom: 48px;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
}

@media (width >= 576px) {
  .section-title {
    padding-bottom: 56px;
    font-size: 40px;
  }
}

@media (width >= 1024px) {
  .section-title {
    font-size: 48px;
  }
}

.main {
  background-color: #fff;
  padding-top: 64px;
}

@media (width >= 576px) {
  .main {
    padding-top: 120px;
  }
}

.main__content {
  row-gap: 64px;
  display: grid;
}

@media (width >= 576px) {
  .main__content {
    row-gap: 120px;
  }
}

.recommended__products {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 40px 20px;
  display: grid;
}

@media (width >= 576px) {
  .recommended__products {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .recommended__products {
    --columns: 12;
  }
}

@media (width >= 576px) {
  .recommended__products {
    row-gap: 56px;
  }
}

.recommended__product {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .recommended__product {
    grid-column: 1 / -1;
  }
}

@media (width >= 1024px) {
  .recommended__product {
    grid-column: span 4;
  }
}

.product__photo {
  object-fit: cover;
  width: 100%;
  display: block;
}

@media (width >= 1024px) {
  .product__photo {
    transition: scale .3s;
  }

  .product__photo:hover {
    scale: 1.2;
  }
}

.product__name {
  text-transform: uppercase;
  margin: 0;
  padding-block: 24px 8px;
  font-size: 18px;
  font-weight: 700;
}

.product__description {
  letter-spacing: .15px;
  margin: 0;
  padding-bottom: 12px;
}

.product__price {
  margin: 0;
  font-weight: 700;
}

@media (width >= 1024px) {
  .product__link {
    display: block;
    overflow: hidden;
  }
}

.categories {
  padding-block: 32px;
}

.categories__btn {
  width: 100%;
}

@media (width >= 1024px) {
  .categories__btn {
    width: 324px;
  }
}

.category__photos {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .category__photos {
    grid-column: 1 / -1;
    column-gap: 24px;
  }
}

.category__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

@media (width >= 1024px) {
  .category__photo {
    transition: scale .3s;
  }

  .category__photo:hover {
    scale: 1.2;
  }
}

.category__link {
  grid-column: span 1;
  position: relative;
}

.category__link:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

@media (width >= 1024px) {
  .category__link {
    aspect-ratio: 498 / 324;
    display: block;
    overflow: hidden;
  }
}

.category__title {
  text-align: left;
  grid-column: 1 / -1;
  margin: 0;
  padding-block: 16px 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}

@media (width >= 576px) {
  .category__title {
    padding-block: 16px 56px;
    font-size: 24px;
    line-height: 110%;
  }
}

.button {
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background-color: #f98921;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 56px;
  text-decoration: none;
  display: block;
}

.button:hover, .button:active {
  background-color: #1b2129;
}

.about-us {
  background-color: #fcfaef;
}

.about-us__image {
  background-image: url("section-3-img.bc75a84e.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
}

@media (width >= 576px) {
  .about-us__image {
    height: 400px;
  }
}

@media (width >= 1024px) {
  .about-us__image {
    height: 460px;
  }
}

.about-us__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  padding-block: 48px;
  display: grid;
}

@media (width >= 576px) {
  .about-us__content {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .about-us__content {
    --columns: 12;
  }
}

@media (width >= 576px) {
  .about-us__content {
    padding-block: 120px;
  }
}

.about-us__title {
  letter-spacing: .15px;
  grid-column: span 2;
  padding-bottom: 24px;
}

@media (width >= 576px) {
  .about-us__title {
    grid-column: span 4;
    padding-bottom: 0;
  }
}

@media (width >= 1024px) {
  .about-us__title {
    grid-column: span 6;
  }
}

.about-us__description {
  grid-column: span 2;
  margin: 0;
}

@media (width >= 576px) {
  .about-us__description {
    grid-column: span 3;
  }
}

@media (width >= 1024px) {
  .about-us__description {
    grid-column: span 5 / -1;
  }
}

.contact-us__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  padding-bottom: 120px;
  display: grid;
}

@media (width >= 576px) {
  .contact-us__content {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .contact-us__content {
    --columns: 12;
  }
}

.contact-us__form {
  flex-direction: column;
  grid-column: span 2;
  gap: 16px;
  display: flex;
}

@media (width >= 576px) {
  .contact-us__form {
    grid-column: span 6;
  }
}

.contact-us__field {
  box-sizing: border-box;
  letter-spacing: .15px;
  color: #7e7e83;
  background-color: #f9f9f9;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.contact-us__field--input {
  height: 48px;
  padding: 0 16px;
}

.contact-us__field--textarea {
  resize: none;
  height: 148px;
  margin-bottom: 16px;
  padding: 16px;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.contact-us__field:hover {
  border: 1px solid #dbdbdb;
}

.contact-us__field:focus {
  outline: 2px solid #f98921;
}

.contact-us__field:hover, .contact-us__field:hover::placeholder {
  color: #1b2129;
}

.contact-us__btn {
  border: none;
  width: 100%;
  padding: 0;
}

.contact-us__info {
  letter-spacing: .15px;
  flex-direction: column;
  grid-column: span 2;
  gap: 24px;
  margin-top: 48px;
  display: flex;
}

@media (width >= 576px) {
  .contact-us__info {
    grid-column: span 2;
    margin-top: 80px;
  }
}

@media (width >= 1024px) {
  .contact-us__info {
    grid-column: span 5 / -1;
    margin-top: 0;
  }
}

.contact-us__info-text {
  color: #9393a3;
  margin: 0;
  padding-bottom: 8px;
  font-size: 14px;
}

.contact-us__info-link {
  color: inherit;
  margin: 0;
  text-decoration: none;
}

.contact-us__info-link:hover {
  color: #f98921;
}
/*# sourceMappingURL=index.971c2ea4.css.map */
